<div class="my-5 pt-sm-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <div class="mb-5">
            <a routerLink="">
              E-SHOP
              <!-- <img src="assets/images/logo-dark.png" alt="logo" height="20" /> -->
            </a>
          </div>

          <div class="row justify-content-center">
            <div class="col-sm-4">
              <div class="maintenance-img">
                <img
                  src="assets/images/maintenance-bg.png"
                  alt=""
                  class="img-fluid mx-auto d-block"
                />
              </div>
            </div>
          </div>
          <h3 class="mt-5">Site is Under Constraction</h3>
          <p>Please check back in sometime.</p>

          <div class="row">
            <div class="col-md-4">
              <div class="mt-4 maintenance-box">
                <div class="p-3">
                  <div class="avatar-sm mx-auto">
                    <span
                      class="avatar-title bg-primary-subtle text-primary rounded-circle"
                    >
                      <i
                        class="mdi mdi-access-point-network font-size-24 text-primary"
                      ></i>
                    </span>
                  </div>

                  <h5 class="font-size-15 text-uppercase mt-4">
                    Why is the Site Down?
                  </h5>
                  <p class="text-muted mb-0">
                    Certainly! For a concise message to display on your under
                    construction page, you might consider something like: "We're
                    currently working on some improvements. Our site will be
                    back shortly. Thank you for your patience!"
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mt-4 maintenance-box">
                <div class="p-3">
                  <div class="avatar-sm mx-auto">
                    <span
                      class="avatar-title bg-primary-subtle text-primary rounded-circle"
                    >
                      <i
                        class="mdi mdi-clock-outline font-size-24 text-primary"
                      ></i>
                    </span>
                  </div>
                  <h5 class="font-size-15 text-uppercase mt-4">
                    What is the Downtime?
                  </h5>
                  <p class="text-muted mb-0">
                    Curious about the downtime? Our team is actively working on
                    improvements. Thank you for your patience!
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mt-4 maintenance-box">
                <div class="p-3">
                  <div class="avatar-sm mx-auto">
                    <span
                      class="avatar-title bg-primary-subtle text-primary rounded-circle"
                    >
                      <i
                        class="mdi mdi-email-outline font-size-24 text-primary"
                      ></i>
                    </span>
                  </div>
                  <h5 class="font-size-15 text-uppercase mt-4">
                    Do you need Support?
                  </h5>
                  <p class="text-muted mb-0">
                    Need assistance? We're here to help! Reach out to us at .
                    <a
                      href="mailto:no-reply@domain.com"
                      class="text-decoration-underline"
                      >jnichoraus3@gmail.com</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- end row -->
        </div>
      </div>
    </div>
  </div>
</div>
