<div class="container-fluid">
  <!-- [breadcrumbItems]="breadCrumbItems" -->
  <app-pagetitle title="Products"></app-pagetitle>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <ul class="nav nav-tabs nav-tabs-custom mb-4">
            <li class="nav-item">
              <a class="nav-link fw-bold p-3 active" href="javascript:void(0);"
                >All product</a
              >
            </li>
            <li class="nav-item">
              <!-- (click)="_addproductModal(addModal)" -->
              <button
                type="button"
                (click)="addProductModal(addModal)"
                class="btn btn-primary btn-rounded"
              >
                Add product
              </button>
            </li>
          </ul>

          <div class="table-responsive">
            <table
              id="basic-datatable"
              class="table table-centered dt-responsive nowrap datatables no-footer dtr-inline"
            >
              <thead>
                <tr>
                  <th sortable="id">Id</th>
                  <th sortable="name">Name</th>
                  <th sortable="description">Description</th>
                  <th sortable="status">Stattus</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of productModel?.results">
                  <td>
                    <a class="text-dark fw-bold">
                      <ngb-highlight [result]="product?.id"></ngb-highlight>
                    </a>
                  </td>
                  <td>
                    <ngb-highlight [result]="product?.name"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight
                      [result]="product?.description"
                    ></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight
                      *ngIf="product?.status == 1"
                      [result]="'Active'"
                    ></ngb-highlight>
                    <ngb-highlight
                      *ngIf="product?.status == 2"
                      [result]="'InActive'"
                    ></ngb-highlight>
                  </td>
                  <td>
                    <a
                      style="
                        background-color: rgb(227, 227, 21);
                        border-radius: 50%;
                        padding: 10px;
                        margin: 2px;
                      "
                      (click)="editProductModal(editModal, product)"
                      class="me-3 text-primary"
                      placement="top"
                      ngbTooltip="Edit"
                      ><i class="mdi mdi-pencil font-size-18"></i
                    ></a>
                    <a
                      style="
                        background-color: rgb(239, 231, 231);
                        border-radius: 50%;
                        padding: 10px;
                        margin: 2px;
                      "
                      class="text-danger"
                      (click)="_comfirmAndDelete(product?.id)"
                      placement="top"
                      ngbTooltip="Delete"
                      ><i class="mdi mdi-trash-can font-size-18"></i
                    ></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div
            class="row justify-content-md-between align-items-md-center mt-2"
          >
            <div class="col-sm-12 col-md-5">
              <div
                class="dataTables_info mb-2"
                id="tickets-table_info"
                role="status"
                aria-live="polite"
              >
                Showing 1 to {{ productModel?.page_size }} of
                {{ productModel?.count }}
                entries
              </div>
            </div>
            <div class="col-sm-12 col-md-5">
              <div class="text-md-end float-md-end pagination-rounded">
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-center">
                    <li class="page-item">
                      <a
                        style="cursor: pointer"
                        *ngIf="productModel?.previous != null"
                        class="page-link"
                        (click)="getAllProduct(null, productModel?.previous)"
                        tabindex="-1"
                        >Previous</a
                      >
                    </li>

                    <li class="page-item">
                      <a
                        style="cursor: pointer"
                        *ngIf="productModel?.next != null"
                        class="page-link"
                        (click)="getAllProduct(null, productModel?.next)"
                        tabindex="-1"
                        >next</a
                      >
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #addModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Add product</h5>
    <button
      type="button"
      class="btn-close"
      (click)="modal.dismiss('Cross click')"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <div class="p-2 mb-3">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <form (ngSubmit)="_addProduct()" [formGroup]="addProductForm">
                <div class="form-group">
                  <label>Category</label>
                  <!-- <app-custom-select-field
                    [formFieldName]="'category'"
                    [validateFormField]="addForm.category"
                    [submitted]="submitted"
                    [items]="categoryModel"
                    [formFieldOptionSelectedLabel]="'Select Category'"
                  >
                  </app-custom-select-field> -->
                  <select
                    type="text"
                    class="form-control"
                    formControlName="category"
                    [ngClass]="{
                      'is-invalid': submitted && addForm.category.errors
                    }"
                    placeholder="Category Name"
                  >
                    <div
                      *ngIf="submitted && addForm.category.errors"
                      class="invalid-feedback"
                    >
                      <span *ngIf="addForm.category.errors.required"
                        >This value is required.</span
                      >
                    </div>

                    <option value="" disabled>Select Category</option>
                    <option
                      value="{{ category.id }}"
                      *ngFor="let category of categoryModel"
                    >
                      {{ category?.name }}
                    </option>
                  </select>

                  <!-- <ng-select [items]="categoryModel"></ng-select> -->
                </div>
                <div class="form-group">
                  <label>Name</label>
                  <!-- <div>
                    <app-custom-input-field
                      [formFieldPlaceholder]="'name'"
                      [formFieldName]="'name'"
                      [validateFormField]="addForm.name"
                      [submitted]="submitted"
                    >
                    </app-custom-input-field> -->
                  <div>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Name"
                      formControlName="name"
                      [ngClass]="{
                        'is-invalid': submitted && addForm.name.errors
                      }"
                    />
                    <div
                      *ngIf="submitted && addForm.name.errors"
                      class="invalid-feedback"
                    >
                      <span *ngIf="addForm.name.errors.required"
                        >This value is required.</span
                      >
                      <span *ngIf="addForm.name.errors.minlength"
                        >Name must be at least 6 characters.</span
                      >
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Description</label>
                  <div>
                    <!-- <app-custom-input-field
                      [formFieldPlaceholder]="'Description'"
                      [formFieldName]="'description'"
                      [validateFormField]="addForm.description"
                      [submitted]="submitted"
                    >
                    </app-custom-input-field> -->

                    <input
                      type="text"
                      class="form-control"
                      placeholder="Description"
                      formControlName="description"
                      [ngClass]="{
                        'is-invalid': submitted && addForm.description.errors
                      }"
                    />
                    <div
                      *ngIf="submitted && addForm.description.errors"
                      class="invalid-feedback"
                    >
                      <span *ngIf="addForm.description.errors.required"
                        >This value is required.</span
                      >
                      <span *ngIf="addForm.description.errors.minlength"
                        >Description is required.</span
                      >
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="">Status</label>
                  <div class="col-md-12">
                    <select
                      class="form-control"
                      formControlName="status"
                      [ngClass]="{
                        'is-invalid': submitted && addForm.status.errors
                      }"
                    >
                      <option value="" disabled>Select status</option>
                      <option value="1">Active</option>
                      <option value="2">In active</option>
                    </select>

                    <div
                      *ngIf="submitted && addForm.status.errors"
                      class="invalid-feedback"
                    >
                      <span *ngIf="addForm.status.errors.required"
                        >This value is required.</span
                      >
                      <span *ngIf="addForm.status.errors.mustMatch"
                        >This value should be the same.</span
                      >
                    </div>
                  </div>
                </div>

                <div class="form-group mt-3">
                  <div>
                    <button type="submit" class="btn btn-primary me-1">
                      Submit
                    </button>
                    <button type="reset" class="btn btn-secondary">
                      Cancel
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #editModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Add Category</h5>
    <button
      type="button"
      class="btn-close"
      (click)="modal.dismiss('Cross click')"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <div class="p-2 mb-3">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <form (ngSubmit)="_editProduct()" [formGroup]="editProductForm">
                <div class="form-group">
                  <label>Category</label>

                  <select
                    type="text"
                    class="form-control"
                    formControlName="category"
                    [ngClass]="{
                      'is-invalid': submitted && editForm.category.errors
                    }"
                    placeholder="Category Name"
                  >
                    <div
                      *ngIf="submitted && editForm.category.errors"
                      class="invalid-feedback"
                    >
                      <span *ngIf="editForm.category.errors.required"
                        >This value is required.</span
                      >
                    </div>

                    <option value="" disabled>Select Category</option>
                    <option
                      value="{{ category.id }}"
                      *ngFor="let category of categoryModel"
                    >
                      {{ category?.name }}
                    </option>
                  </select>

                  <!-- <ng-select [items]="categoryModel"></ng-select> -->
                </div>
                <div class="form-group">
                  <label>Name</label>
                  <!-- <div>
                    <app-custom-input-field
                      [formFieldPlaceholder]="'name'"
                      [formFieldName]="'name'"
                      [validateFormField]="editForm.name"
                      [submitted]="submitted"
                    >
                    </app-custom-input-field> -->
                  <div>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Name"
                      formControlName="name"
                      [ngClass]="{
                        'is-invalid': submitted && editForm.name.errors
                      }"
                    />
                    <div
                      *ngIf="submitted && editForm.name.errors"
                      class="invalid-feedback"
                    >
                      <span *ngIf="editForm.name.errors.required"
                        >This value is required.</span
                      >
                      <span *ngIf="editForm.name.errors.minlength"
                        >Name must be at least 6 characters.</span
                      >
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Description</label>
                  <div>
                    <!-- <app-custom-input-field
                      [formFieldPlaceholder]="'Description'"
                      [formFieldName]="'description'"
                      [validateFormField]="editForm.description"
                      [submitted]="submitted"
                    >
                    </app-custom-input-field> -->

                    <input
                      type="text"
                      class="form-control"
                      placeholder="Description"
                      formControlName="description"
                      [ngClass]="{
                        'is-invalid': submitted && editForm.description.errors
                      }"
                    />
                    <div
                      *ngIf="submitted && editForm.description.errors"
                      class="invalid-feedback"
                    >
                      <span *ngIf="editForm.description.errors.required"
                        >This value is required.</span
                      >
                      <span *ngIf="editForm.description.errors.minlength"
                        >Description is required.</span
                      >
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="">Status</label>
                  <div class="col-md-12">
                    <select
                      class="form-control"
                      formControlName="status"
                      [ngClass]="{
                        'is-invalid': submitted && editForm.status.errors
                      }"
                    >
                      <option value="" disabled>Select status</option>
                      <option value="1">Active</option>
                      <option value="2">In active</option>
                    </select>

                    <div
                      *ngIf="submitted && editForm.status.errors"
                      class="invalid-feedback"
                    >
                      <span *ngIf="editForm.status.errors.required"
                        >This value is required.</span
                      >
                      <span *ngIf="editForm.status.errors.mustMatch"
                        >This value should be the same.</span
                      >
                    </div>
                  </div>
                </div>

                <div class="form-group mt-3">
                  <div>
                    <button type="submit" class="btn btn-primary me-1">
                      Submit
                    </button>
                    <button type="reset" class="btn btn-secondary">
                      Cancel
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
