<div class="container-fluid">
  <app-pagetitle
    title="Product Detail"
    [breadcrumbItems]="breadCrumbItems"
  ></app-pagetitle>

  <div class="row" style="position: relative">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-xl-5">
              <div class="product-detail">
                <div class="row">
                  <div class="col-3">
                    <ul
                      ngbNav
                      #nav="ngbNav"
                      class="nav-pills flex-column"
                      orientation="vertical"
                    >
                      <ng-container
                        *ngFor="let img of productImages.images; let i = index"
                      >
                        <li [ngbNavItem]="i">
                          <a ngbNavLink>
                            <img
                              src="{{
                                img.image ?? 'assets/images/default.jpg'
                              }}"
                              alt=""
                              class="img-fluid mx-auto d-block tab-img rounded"
                            />
                          </a>
                          <ng-template ngbNavContent>
                            <div class="product-img">
                              <div
                                style="
                                  position: relative;
                                  display: inline-block;
                                "
                              >
                                <img
                                  src="{{
                                    img.image ?? 'assets/images/default.jpg'
                                  }}"
                                  alt=""
                                  class="img-fluid mx-auto d-block"
                                  style="
                                    width: 300px;
                                    height: 300px;
                                    object-fit: cover;
                                  "
                                />

                                <div
                                  style="
                                    position: absolute;
                                    top: 10px;
                                    right: 10px;
                                  "
                                >
                                  <a
                                    title="Delete"
                                    (click)="deleteImage(img.id)"
                                  >
                                    <i
                                      class="fa fa-trash"
                                      style="color: red"
                                    ></i>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </ng-template>
                        </li>
                      </ng-container>
                      <li
                        *ngIf="
                          productDetail?.data?.product_images.length == 0 ||
                          productDetail?.data?.product_images.length != 4
                        "
                      >
                        <button
                          (click)="addImagesModal(addImageModal)"
                          type="button"
                          class="btn btn-primary waves-effect waves-light mt-2"
                        >
                          <i class="mdi mdi-checkerboard-plus"></i>
                          <small>add image</small>
                        </button>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-8 col-9">
                    <div [ngbNavOutlet]="nav"></div>
                  </div>
                </div>
              </div>
              <!-- end product img -->
            </div>
            <div class="col-xl-7">
              <div class="mt-4 mt-xl-3">
                <a href="javascript:void(0);" class="text-primary">{{
                  productDetail?.data?.category?.name ??
                    "NO Category edit it now"
                }}</a>
                <h5 class="mt-1">
                  {{ productDetail?.data?.name }} -
                  {{ productDetail?.data?.price | currency : "Tsh" }}
                </h5>
                <h5 class="mt-2">
                  <del
                    *ngIf="productDetail?.data?.discount_price"
                    class="text-muted me-2"
                    >{{
                      productDetail?.data?.selling_price | currency : "Tsh"
                    }}</del
                  >{{ productDetail?.data?.discount_price | currency : "Tsh" }}
                  <span
                    *ngIf="getDiscountedPercentage() !== null"
                    class="text-danger font-size-12 ms-2"
                  >
                    {{ getDiscountedPercentage() }} % Off</span
                  >
                </h5>

                <p class="mt-1">
                  {{ productDetail?.data?.description }}
                </p>
                <hr class="my-1" />

                <div class="row">
                  <div class="col-md-6">
                    <div class="product-color mt-3">
                      <h5 class="font-size-14">Product Colors :</h5>
                      <a
                        class="active input-group"
                        *ngFor="let i of productDetail?.data?.product_colors"
                      >
                        <div class="product-color-item">
                          <div
                            id="component-colorpicker"
                            class="input-group"
                            title="Using format option"
                          >
                            <input
                              type="text"
                              class="form-control input-lg"
                              [value]="i.color"
                              (change)="editColorProdcut(i.id, i.color)"
                            />

                            <div
                              style="position: relative; display: inline-block"
                            >
                              <span class="input-group-append">
                                <span
                                  class="input-group-text colorpicker-input-addon h-100"
                                  [style.background]="i.color"
                                  [(colorPicker)]="i.color"
                                  (colorPickerChange)="
                                    editColorProdcut(i.id, i.color)
                                  "
                                  [cpPosition]="'bottom'"
                                >
                                  <i></i>
                                </span>
                              </span>

                              <a
                                (click)="deleteProductColor(i.id)"
                                title="Edit"
                                style="position: absolute; left: -30px; top: 0"
                              >
                                <i class="fa fa-trash text-danger"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </a>
                      <div class="form-group mb-3">
                        <div
                          class="product-color-item"
                          *ngIf="
                            productDetail?.data?.product_colors.length != 4
                          "
                        >
                          <label>Add New</label>
                          <div
                            id="component-colorpicker"
                            class="input-group"
                            title="Using format option"
                          >
                            <input
                              type="text"
                              class="form-control input-lg"
                              [value]="pickedColor"
                            />
                            <span class="input-group-append">
                              <span
                                class="input-group-text colorpicker-input-addon h-100"
                                [style.background]="pickedColor"
                                [(colorPicker)]="pickedColor"
                                [cpPosition]="'bottom'"
                                ><i></i
                              ></span>
                            </span>
                            <span class="input-group-append mx-3">
                              <button
                                (click)="addProductColor()"
                                type="submit"
                                class="btn btn-primary"
                              >
                                Add
                              </button>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <div class="product-color mt-3">
                        <h5 class="font-size-14">Size :</h5>
                        <a
                          class="active"
                          *ngFor="let size of productDetail?.data?.product_size"
                        >
                          <div class="product-color-item">
                            <div
                              style="position: relative; display: inline-block"
                            >
                              <div class="product-color-item">
                                <div class="avatar-xs">
                                  <span
                                    class="avatar-title bg-transparent text-body"
                                    >{{ size.size }}</span
                                  >
                                </div>
                              </div>

                              <a
                                (click)="deleteProductSize(size.id)"
                                title="Delete"
                                style="
                                  position: absolute;
                                  right: -10px;
                                  border-color: none;

                                  top: 0;
                                  font-size: 10px;
                                "
                              >
                                <i class="fa fa-trash text-danger"></i>
                              </a>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group mb-3">
                        <div
                          class="product-color-item"
                          *ngIf="productDetail?.data?.product_size.length != 4"
                        >
                          <label>Add New</label>
                          <div
                            id="component-colorpicker"
                            class="input-group"
                            title="Using format option"
                          >
                            <select [(ngModel)]="selectedSize">
                              <option
                                *ngFor="let size of productSizes"
                                [value]="size.value"
                              >
                                {{ size.label }}
                              </option>
                            </select>

                            <span class="input-group-append mx-3">
                              <button
                                (click)="addProductSize()"
                                type="submit"
                                class="btn btn-primary"
                              >
                                Add
                              </button>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- <div class="col-md-6">
                    <h5 class="font-size-14">Size :</h5>
                    <div
                      class="product-color mt-3"
                      *ngFor="let size of productDetail?.data?.product_size"
                    >
                      <a href="javascript:void(0);" class="active">
                        <div class="product-color-item p-2">
                          <div class="avatar-xs">
                            <span
                              class="avatar-title bg-transparent text-body"
                              >{{ size.size }}</span
                            >
                          </div>
                        </div>
                      </a>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
          <!-- end row -->

          <div class="mt-4">
            <h5 class="font-size-14 mb-3">Product description:</h5>
            <div class="product-desc">
              <ul
                ngbNav
                #productNav="ngbNav"
                [activeId]="2"
                class="nav-tabs nav-tabs-custom"
              >
                <li [ngbNavItem]="1">
                  <a ngbNavLink>
                    <a
                      class="nav-link"
                      id="desc-tab"
                      data-toggle="tab"
                      href="#desc"
                      role="tab"
                      >Description</a
                    >
                  </a>
                  <ng-template ngbNavContent>
                    <div>
                      <p>{{ productDetail?.data.description }}</p>
                    </div>
                  </ng-template>
                </li>
                <li [ngbNavItem]="2">
                  <a ngbNavLink>
                    <a
                      class="nav-link"
                      id="specifi-tab"
                      data-toggle="tab"
                      href="#specifi"
                      role="tab"
                      >Specifications</a
                    >
                  </a>
                  <ng-template ngbNavContent>
                    <div class="table-responsive">
                      <!-- // add a form add specs -->
                      <form
                        [formGroup]="productSpecForm"
                        (ngSubmit)="addProductSpec()"
                      >
                        <div class="row">
                          <div class="col-md-6">
                            <div class="mb-3">
                              <input
                                type="text"
                                class="form-control"
                                id="productSpecName"
                                placeholder="Enter name"
                                formControlName="spec_name"
                              />
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="mb-3">
                              <input
                                type="text"
                                class="form-control"
                                id="productSpecValue"
                                placeholder="Enter value"
                                formControlName="spec_value"
                              />
                            </div>
                          </div>

                          <div class="col-md-2">
                            <button
                              type="submit"
                              class="btn btn-primary waves-effect waves-light"
                            >
                              save
                            </button>
                          </div>
                        </div>
                      </form>

                      <table class="table table-nowrap mb-0">
                        <tbody>
                          <tr *ngFor="let spec of productSpecs">
                            <th scope="row" style="width: 400px">
                              {{ spec.spec_name }}
                            </th>
                            <td>{{ spec.spec_value }}</td>
                            <td>
                              <a
                                (click)="deleteProductSpec(spec.id)"
                                title="Delete"
                              >
                                <i class="fa fa-trash text-danger"></i>
                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </ng-template>
                </li>
              </ul>
              <div
                [ngbNavOutlet]="productNav"
                class="border border-top-0 p-4"
              ></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6"></div>

            <div class="col-md-6">
              <div class="row text-center mt-2">
                <div class="col-sm-6">
                  <div class="d-grid">
                    <button
                      disabled
                      type="button"
                      class="btn btn-primary waves-effect waves-light mt-2"
                    >
                      <i class="fa fas fa-ad"></i> Promote
                    </button>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="d-grid">
                    <button
                      disabled
                      type="button"
                      class="btn btn-light waves-effect mt-2 waves-light"
                    >
                      <i class="mdi mdi-shopping me-2"></i>Publish
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="mt-4">
            <h5 class="font-size-14">Reviews :</h5>
            <div class="d-inline-flex mb-3">
              <div class="text-muted me-3">
                <ngb-rating
                  [(rate)]="currentRate"
                  [max]="5"
                  [readonly]="true"
                ></ngb-rating>
                <pre>Ratings: <b>{{currentRate}}/5</b></pre>
              </div>
              <div class="text-muted">
                ( {{ productDetail?.data?.product_reviews?.length }} Customers)
              </div>
            </div>

            <div
              class="border p-4 rounded"
              *ngFor="let rev of productDetail?.data?.product_reviews"
            >
              <div class="d-flex border-bottom pb-3">
                <div class="flex-1">
                  <p class="text-muted mb-2">
                    {{ rev.review }}
                  </p>
                  <h5 class="font-size-15 mb-3">{{ rev?.user?.username }}</h5>

                  <ul class="list-inline product-review-link mb-0">
                    <li class="list-inline-item">
                      <a disabled href="javascript:void(0);"
                        ><i class="mdi mdi-thumb-up align-middle me-1"></i>
                        Like</a
                      >
                    </li>
                    <li class="list-inline-item">
                      <a disabled href="javascript:void(0);"
                        ><i class="mdi mdi-message-text align-middle me-1"></i>
                        Comment</a
                      >
                    </li>
                  </ul>
                </div>
                <p class="float-sm-end font-size-12">
                  {{ rev?.date_created | date : "yyyy-MM-dd HH:mm:ss" }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end card -->
    </div>

    <div
      style="position: absolute; right: 0; padding: 4px 3px; font-size: 12px"
    >
      <span
        *ngIf="productDetail?.data?.published !== null"
        class="badge ms-1"
        [ngClass]="{
          'bg-success-subtle text-success': productDetail?.data?.published,
          'bg-danger-subtle text-danger': !productDetail?.data?.published
        }"
      >
        <i
          class="fa"
          [ngClass]="{
            'fa-check-circle': productDetail?.data?.published,
            'fa-times-circle': !productDetail?.data?.published
          }"
        ></i>
        {{ productDetail?.data?.published ? "Published" : "Not Published" }}
      </span>
    </div>
  </div>

  <div class="container-fluid">
    <ng-template #addImageModal let-modal>
      <div class="modal-header">
        <!-- <h5 class="modal-title mt-0">Add Product Images</h5> -->
        <button
          type="button"
          class="btn-close"
          (click)="modal.dismiss('Cross click')"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <div class="">
                  <ngb-progressbar
                    [value]="uploadProgress"
                    showValue="true"
                  ></ngb-progressbar>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="card-title">Add Product images</div>
                <p class="card-title-desc">
                  Select or Drag and Drop images here
                </p>

                <div>
                  <form action="#" class="dropzone-1">
                    <ngx-dropzone
                      (change)="onSelect($event)"
                      [maxFileSize]="1048576"
                    >
                      <ngx-dropzone-label>Drop your images</ngx-dropzone-label>

                      <ngx-dropzone-image-preview
                        ngProjectAs="ngx-dropzone-preview"
                        *ngFor="let f of files"
                        [removable]="true"
                        (removed)="onRemove(f)"
                        [file]="f"
                      >
                        <ngx-dropzone-label
                          >{{ f.name }}- ({{ f.type }}-{{
                            f.size
                          }})</ngx-dropzone-label
                        >
                      </ngx-dropzone-image-preview>
                    </ngx-dropzone>
                    <div class="text-center mt-4">
                      <button
                        *ngIf="uploading == false"
                        type="button"
                        (click)="addImages()"
                        class="btn btn-primary"
                        [disabled]="uploading"
                      >
                        {{ uploading ? "Loading..." : "Upload" }}
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
