<ng-container *ngIf="underconstraction; then showUnderCpage; else elseBlock">
  <div>This is shown when condition is true</div>
</ng-container>

<ng-template #showUnderCpage>
  <app-underconstraction-page></app-underconstraction-page>
</ng-template>

<ng-template #elseBlock>
  <div class="container-fluid">
    <app-pagetitle
      title="Dashboard"
      [breadcrumbItems]="breadCrumbItems"
    ></app-pagetitle>

    <div class="row">
      <div class="col-xl-8">
        <div class="row" *ngIf="!isLoadingDashboard">
          <div class="col-md-4" *ngFor="let stat of statData">
            <app-stat
              [title]="stat?.title"
              [value]="stat?.value"
              [icon]="stat?.icon"
            ></app-stat>
          </div>
        </div>
        <div class="row" *ngIf="isLoadingDashboard">
          <div class="col-xl-12">
            <div class="card">
              <div class="card-body">
                <app-shared-loader></app-shared-loader>
              </div>
            </div>
          </div>
        </div>

        <!-- end row -->

        <div class="card">
          <div class="card-body pb-1" *ngIf="!isLoadingDashboard">
            <div class="float-end d-none d-md-inline-block">
              <div class="btn-group mb-2">
                <button type="button" class="btn btn-sm btn-light">
                  Today:
                  {{ todayRevenue | currency : "TSH " : "code" : "1.0-0" }}
                </button>
                <!-- <button type="button" class="btn btn-sm btn-light active">
                  Weekly
                </button>
                <button type="button" class="btn btn-sm btn-light">
                  Monthly
                </button> -->
              </div>
            </div>
            <h4 class="card-title mb-4">Revenue Analytics</h4>
            <div>
              <apx-chart
                *ngIf="!isLoadingDashboard"
                dir="ltr"
                class="apex-charts"
                [series]="revenueChart?.series"
                [chart]="revenueChart?.chart"
                [legend]="revenueChart?.legend"
                [colors]="revenueChart?.colors"
                [labels]="revenueChart?.labels"
                [stroke]="revenueChart?.stroke"
                [plotOptions]="revenueChart?.plotOptions"
              >
              </apx-chart>
              <app-shared-loader *ngIf="isLoadingDashboard"></app-shared-loader>
            </div>
          </div>

          <div
            class="card-body border-top text-center"
            *ngIf="!isLoadingDashboard"
          >
            <div class="row">
              <div class="col-sm-4">
                <div class="d-inline-flex">
                  <h5 class="me-2">
                    {{
                      currentMonthRevenue | currency : "TSH " : "code" : "1.0-0"
                    }}
                  </h5>
                  <div class="text-success">
                    <i class="mdi mdi-menu-up font-size-14"> </i
                    >{{ currentMonthRevenuePercentage }} %
                  </div>
                </div>
                <p class="text-muted text-truncate mb-0">This month</p>
              </div>

              <div class="col-sm-4">
                <div class="mt-4 mt-sm-0">
                  <div class="d-inline-flex">
                    <h5 class="mb-0 me-2">
                      {{
                        currentYearRevenue
                          | currency : "TSH " : "code" : "1.0-0"
                      }}
                    </h5>
                  </div>
                  <p class="mb-2 text-muted text-truncate">
                    <i
                      class="mdi mdi-circle text-success font-size-10 me-1"
                    ></i>
                    This Year
                  </p>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="mt-4 mt-sm-0">
                  <div class="d-inline-flex">
                    <h5 class="mb-0">
                      {{
                        previousYearRevenue
                          | currency : "TSH " : "code" : "1.0-0"
                      }}
                    </h5>
                  </div>
                  <p class="mb-2 text-muted text-truncate">
                    <i
                      class="mdi mdi-circle text-primary font-size-10 me-1"
                    ></i>
                    Previous Year
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body" *ngIf="isLoadingDashboard">
            <app-shared-loader></app-shared-loader>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="card">
          <div class="card-body" *ngIf="!isLoadingDashboard">
            <h4 class="card-title mb-4">Sales Analytics</h4>

            <apx-chart
              dir="ltr"
              class="apex-charts"
              [series]="salesAnalytics?.series"
              [chart]="salesAnalytics?.chart"
              [legend]="salesAnalytics?.legend"
              [colors]="salesAnalytics?.colors"
              [labels]="revenueChart?.labels"
              [dataLabels]="salesAnalytics?.dataLabels"
              [plotOptions]="salesAnalytics?.plotOptions"
            >
            </apx-chart>
            <div class="row">
              <div
                class="col-4"
                *ngFor="let stock of stockModel | slice : 0 : 3"
              >
                <div class="text-center mt-4">
                  <p class="mb-2 text-truncate">
                    <i
                      class="mdi mdi-circle text-primary font-size-10 me-1"
                    ></i>
                    {{ stock.name }}
                  </p>
                  <small>
                    {{
                      stock.total_sales | currency : "TSH " : "code" : "1.0-0"
                    }}
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body" *ngIf="isLoadingDashboard">
            <app-shared-loader></app-shared-loader>
          </div>
        </div>

        <div class="card">
          <div class="card-body" *ngIf="!isLoadingDashboard">
            <div class="dropdown float-end" ngbDropdown>
              <a
                href="javascript: void(0);"
                class="dropdown-toggle arrow-none card-drop"
                data-toggle="dropdown"
                aria-expanded="false"
                ngbDropdownToggle
              >
                <i class="mdi mdi-dots-vertical"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item"
                  >Sales Report</a
                >
                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item"
                  >RevenueReport</a
                >
                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item"
                  >Expenses Report
                </a>
                <!-- item-->
              </div>
            </div>

            <h4 class="card-title mb-4">Reports</h4>
            <div class="text-center">
              <div class="row">
                <div class="col-sm-6">
                  <div>
                    <div class="mb-3">
                      <apx-chart
                        dir="ltr"
                        class="apex-charts"
                        [series]="sparklineEarning?.series"
                        [chart]="sparklineEarning?.chart"
                        [colors]="sparklineEarning?.colors"
                        [labels]="sparklineEarning?.labels"
                        [dataLabels]="sparklineEarning?.dataLabels"
                        [plotOptions]="sparklineEarning?.plotOptions"
                      >
                      </apx-chart>
                    </div>

                    <p class="text-muted text-truncate mb-2">Weekly Revenue</p>
                    <h5 class="mb-0">
                      {{
                        total_weekly_revenue
                          | currency : "TSH " : "code" : "1.0-0"
                      }}
                    </h5>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="mt-5 mt-sm-0">
                    <div class="mb-3">
                      <apx-chart
                        dir="ltr"
                        class="apex-charts"
                        [series]="sparklySales?.series"
                        [chart]="sparklySales?.chart"
                        [colors]="sparklySales?.colors"
                        [labels]="sparklySales?.labels"
                        [dataLabels]="sparklySales?.dataLabels"
                        [plotOptions]="sparklySales?.plotOptions"
                      >
                      </apx-chart>
                    </div>

                    <p class="text-muted text-truncate mb-2">Weekly Sales</p>
                    <h5 class="mb-0">
                      {{
                        total_weekly_sales
                          | currency : "TSH " : "code" : "1.0-0"
                      }}
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body" *ngIf="isLoadingDashboard">
            <app-shared-loader></app-shared-loader>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body" *ngIf="!isLoadingDashboard">
            <div class="dropdown float-end" ngbDropdown>
              <a
                href="javascript: void(0);"
                class="dropdown-toggle arrow-none card-drop"
                ngbDropdownToggle
                data-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="mdi mdi-dots-vertical"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item"
                  >Sales Report</a
                >
                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item"
                  >Export Report</a
                >
                <!-- item-->
                <a (click)="viewall()" class="dropdown-item">View all sales</a>
                <!-- item-->
                <!-- <a href="javascript:void(0);" class="dropdown-item">Action</a> -->
              </div>
            </div>
            <h4 class="card-title mb-4">Latest Sales</h4>
            <div class="row">
              <div class="col-md-4">
                <input
                  type="text"
                  name="searchTerm"
                  class="form-control ms-2"
                  placeholder="Search..."
                  aria-controls="tickets-table"
                  [(ngModel)]="term"
                />
              </div>
              <div class="col-md-8">
                <div class="row">
                  <div class="col-sm-2 col-md-2">filter by:</div>

                  <div class="col-md-4">
                    <input
                      type="date"
                      class="form-control"
                      placeholder="From Date"
                      [(ngModel)]="fromDate"
                    />
                  </div>
                  <div class="col-md-4">
                    <input
                      type="date"
                      class="form-control"
                      placeholder="To Date"
                      [(ngModel)]="toDate"
                      (change)="filterByDate()"
                    />
                  </div>
                  <div class="col-md-2">
                    <button class="btn btn-primary" (click)="exportExcel()">
                      Export
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <br />

            <div class="table-responsive">
              <table id="excel-table" class="table table-centered">
                <thead class="table-light">
                  <tr>
                    <th>SalesID</th>
                    <th>Date</th>
                    <th>Product</th>
                    <th>Stock Ref</th>

                    <th>Qty Sold</th>
                    <th>Unit Total Sales</th>
                    <th>Unit Total revevue</th>

                    <!-- <th>Action</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let item of SalesData | filter : term | slice : 0 : limt
                    "
                  >
                    <td>{{ item?.id }}</td>
                    <td>
                      {{
                        item?.sales_date
                          | date : "shortDate" : "Africa/Dar_es_Salaam"
                      }}
                    </td>
                    <td>
                      {{ item?.stock_item?.product?.name }}
                    </td>
                    <td>{{ item?.stock_item?.stock?.name }}</td>
                    <td>{{ item?.quantity_sold }}</td>
                    <td>{{ item?.total_sales | number : "1.0-0" }} TZS</td>
                    <td>{{ item?.total_revenue | number : "1.0-0" }} TZS</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-body" *ngIf="isLoadingDashboard">
            <app-shared-loader></app-shared-loader>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
</ng-template>
