<ng-template *ngIf="curentStockItem; then form; else loading"> </ng-template>
<!-- <p-toast></p-toast> -->

<ng-template #form>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12" *ngIf="isSalesDisabled == false">
        <div class="card">
          <div class="card-body">
            <form
              (ngSubmit)="createSalesFormSubmit()"
              [formGroup]="createSalesForm"
            >
              <div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group mb-4">
                      <label for="billing-email-address">
                        Qauntity to be sold
                      </label>
                      <input
                        type="number"
                        class="form-control"
                        style="font-size: 30px"
                        placeholder="Enter Quantity to be sold,"
                        formControlName="quantity_sold"
                        [ngClass]="{
                          'is-invalid':
                            submitted && salesForm.quantity_sold.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && salesForm.quantity_sold.errors"
                        class="invalid-feedback"
                      >
                        <span *ngIf="salesForm.quantity_sold.errors.required"
                          >This value is required.</span
                        >
                        <span *ngIf="salesForm.quantity_sold.errors.minlength"
                          >Quantity_in must be at least 6 characters.</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group mb-4">
                      <label for="billing-email-address">
                        Qauntity to be sold
                      </label>

                      <select
                        type="number"
                        class="form-control"
                        style="font-size: 30px"
                        placeholder="Enter Quantity to be sold,"
                        formControlName="payment_status"
                        [ngClass]="{
                          'is-invalid':
                            submitted && salesForm.payment_status.errors
                        }"
                      >
                        <div
                          *ngIf="submitted && salesForm.payment_status.errors"
                          class="invalid-feedback"
                        >
                          <span *ngIf="salesForm.payment_status.errors.required"
                            >This value is required.</span
                          >
                          <span *ngIf="salesForm.payment_status.errors.required"
                            >Payment satatusmust be at least 6 characters.</span
                          >
                        </div>
                        <!-- make  loop from PAYMENT_STATUS -->
                        <option value="" disabled selected>
                          Select payment status
                        </option>
                        <option
                          *ngFor="let paymentStatus of paymentStatusList"
                          [value]="paymentStatus.id"
                        >
                          {{ paymentStatus.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group mb-4">
                      <label for="billing-name">stock item</label>
                      <select
                        type="text"
                        class="form-control"
                        formControlName="stock_item"
                        [ngClass]="{
                          'is-invalid': submitted && salesForm.stock_item.errors
                        }"
                        placeholder="Select stock item"
                      >
                        <div
                          *ngIf="submitted && salesForm.stock_item.errors"
                          class="invalid-feedback"
                        >
                          <span *ngIf="salesForm.stock_item.errors.required"
                            >This value is required.</span
                          >
                        </div>

                        <option value="" disabled selected>
                          Select stock item
                        </option>
                        <option
                          *ngFor="let stockitem of stockItemModelList"
                          [value]="stockitem.id"
                        >
                          {{ stockitem.product.name }}-{{
                            stockitem.stock.name
                          }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group mb-4">
                      <label for="price">Selling price</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Selling price"
                        formControlName="price"
                        [ngClass]="{
                          'is-invalid': submitted && salesForm.price.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && salesForm.price.errors"
                        class="invalid-feedback"
                      >
                        <span *ngIf="salesForm.price.errors.required"
                          >This value is required.</span
                        >
                        <span *ngIf="salesForm.price.errors.minlength"
                          >Quantity_in must be at least 6 characters.</span
                        >
                      </div>
                    </div>
                  </div>
                  <!-- 
                  <div class="col-lg-4">
                    <div class="form-group mb-4 mb-lg-0">
                      <div class="col-md-12 ms-auto">
                        <div class="mt-4 mt-lg-0">
                          <div class="form-check mb-3">
                            <input
                              hidden
                              type="checkbox"
                              class="form-check-input"
                              formControlName="product_price_changed"
                              id="customCheck1"
                              (change)="onCheckboxChange($event)"
                            />
                            <label class="form-check-label" for="customCheck1"
                              >Is price Changed?</label
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> -->
                </div>

                <div class="row">
                  <div class="col-lg-12" *ngIf="shouldHideFormControl">
                    <label for="price">Reason for Changes</label>

                    <div>
                      <textarea
                        formControlName="reason_for_change"
                        class="form-control"
                        rows="2"
                        [ngClass]="{
                          'is-invalid':
                            submitted && salesForm.reason_for_change.errors
                        }"
                      ></textarea>
                      <div
                        *ngIf="submitted && salesForm.reason_for_change.errors"
                        class="invalid-feedback"
                      >
                        <span
                          *ngIf="salesForm.reason_for_change.errors.required"
                          >This value is required.</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mb-4 mt-4">
                  <div class="col-md-6">
                    <button
                      [disabled]="isSalesDisabled"
                      type="submit"
                      class="btn btn-primary me-1 btn-block"
                    >
                      Submit
                    </button>
                    <!--  show a msg why sale is disabled -->
                    <span *ngIf="isSalesDisabled" class="text-danger">
                      No quantity to sell
                    </span>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div
        [ngClass]="{
          'col-lg-12': isSalesDisabled == false,
          'col-md-12': isSalesDisabled == true
        }"
      >
        <div class="card checkout-order-summary">
          <div class="card-body">
            <div class="p-3 bg-light mb-4">
              <h5 class="font-size-14 mb-0">
                Item Sales
                <span class="float-end ms-2">
                  From: {{ curentStockItem?.stock?.name }}</span
                >
              </h5>
            </div>
            <div class="table-responsive">
              <table class="table table-centered mb-0 table-nowrap">
                <thead>
                  <tr>
                    <th class="border-top-0" style="width: 110px" scope="col">
                      Product
                    </th>
                    <th class="border-top-0" scope="col">Unit Current Sales</th>
                    <th class="border-top-0" scope="col">
                      UnitCurrent Revenue
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <ng-template
                    *ngIf="
                      stockItemSales != null && stockItemSales.length > 0;
                      then showData;
                      else showErrorMsg
                    "
                  ></ng-template>
                  <ng-template #showData>
                    <tr *ngFor="let s of stockItemSales">
                      <th scope="row">{{ s.stock_item.product.name }}</th>
                      <td>{{ s?.total_price ?? 0 }}</td>
                      <td>{{ s?.total_revenue ?? 0 }}</td>
                    </tr>
                  </ng-template>
                  <ng-template #showErrorMsg>
                    <tr>
                      <td colspan="4">
                        <small style="color: red; text-align: center"
                          >No Current sales for
                          {{ curentStockItem?.product?.name }}</small
                        >
                      </td>
                    </tr>
                  </ng-template>
                </tbody>
              </table>
              <hr />
              <h4>Summary</h4>

              <table>
                <tbody>
                  <tr class="text-end">
                    <th scope="row" colspan="3">
                      Total Item estimated profit :
                    </th>

                    <td class="text-success">
                      {{ curentStockItem?.total_estmated_profit }} /=
                    </td>
                  </tr>

                  <tr class="text-end">
                    <th scope="row" colspan="3">Total item estimated sales:</th>
                    <td class="text-success">
                      {{ curentStockItem?.total_selling_price }} /=
                    </td>
                  </tr>
                  <tr class="text-end">
                    <th scope="row" colspan="3">Total stock Current Profit:</th>

                    <td class="text-success">
                      {{ curentStockItem?.stock?.total_sales_revenue }}/=
                    </td>
                  </tr>
                  <tr class="text-end">
                    <th scope="row" colspan="3">Total stock estmated Profit</th>

                    <td class="text-success">
                      {{ curentStockItem?.stock?.total_estmated_profit }}/=
                    </td>
                  </tr>

                  <tr class="text-end">
                    <th scope="row" colspan="3">Total stock sales</th>

                    <td class="text-success">
                      {{ curentStockItem?.stock?.total_sales }}/=
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
</ng-template>

<ng-template #loading>
  <app-shared-loader></app-shared-loader>
</ng-template>
